<h3>Listado de Heroes</h3>

<div *ngIf="deleteHero; else NothingWasDeleted">
  <h3>Heroe Borrado <small class="text-danger">{{deleteHero}}</small></h3>
</div>

<ng-template #NothingWasDeleted>
  <h3>No se ha borrado nada</h3>
</ng-template>

<button
*ngIf="heroNames.length > 0"
(click)="removeLastHero()"
class="btn btn-outline-danger">
  borrar Ultimo heroe
</button>

<button (click)="restablecerList()" class="btn btn-outline-danger">
  reestablecer lista
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">{{name}}</li>

</ul>
